/**
*ETML
*Author : Benfares Anass
*Date : 03.06.2016
*Summary : Include the style of the structure of the web site
**/

/******************************************** HTML ELEMENTS ********************************************/

body
{
	height: 100%;
	margin-top: 0px;
	color: black;
	font-family: sans-serif, century gothic;
}

a
{
	color: #888888;
	text-decoration: none;
}

/******************************************** Structure ********************************************/
.container
{
	width: 1000px;
	margin: 0px auto;
	min-height: 100%;
	margin-bottom: -330px;
	position: relative;
}

/******************************************** Header ********************************************/
.header
{
	
	text-align: center;
	margin: 0px auto;
	color: black;
	height: 140px;
	background: url(/ressources/images/header/header.png);
	background-repeat: no-repeat;
	background-position: 0px 30px;

}

.textLogo
{
	font-size: 44px;
}

.textLogo2
{
	font-size: 12px;
	text-decoration: line-through;
}
/************************ MENU ************************/

.navBar
{
	height: 40px;
	border: 1px solid #888888;
	border-top: none;
	border-right: none;
	border-left: none;

}


.navBar2
{
	height: 40px;
	border: 1px solid #888888;
	border-top: none;
	border-right: none;
	border-left: none;
}

.navBar2 a
{
	color: #888888;
	font-size: 20px;
}

.active
{
	color: green;
}

.navBar2 a:hover
{
	color: black;
}
	
.navSquare
{
	margin-right: 5px;
	padding-top: 10px;
	padding-left: 5px;
	height: 30px;
	float: left;
}

.navSquare:last-child
{
	margin-right: 10px;
	float: right;
}

.firstNavBar
{
	height: 40px;
}

.firstNavBar a 
{
	color: black;
}


/******************************************** Content ********************************************/

.error404
{
	padding-top: 50px;
}

.homePageMessage
{
	margin-top: 50px;	
}

.products
{	
	height: 260px;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 238px;
	border: 1px solid #e6e6e6;
}


.productsImg
{
	/*eight: 260px;
	width: 260px;*/
					
}

.productsDescription
{	
	height: 20px;
	text-align: center;
	padding: 15px;
}

.clearProducts
{
	height: 200px;
	clear: both;
}


/************************ Form login ************************/
.formLogin
{
	padding: 50px;
	float: left;
	border: 1px solid #C1C1C1;
}

.forminscription
{
	padding: 50px;
	margin-left: 50px;
	border: 1px solid #C1C1C1;
	float: left;
}

.inputText
{
	margin-bottom: 15px;
	width: 367px;
	height: 25px;

}

.formButton
{
	width: 373px;
	height: 30px;
	margin-top: 15px;
	
}

#forminscriptionLastName
{
	margin-top: 20px;
}

.loginMarginTop
{
	margin-top: 50px;	
}

/************************ Article ************************/



/******************************************** Footer ********************************************/

.footer
{
	min-height: 100%;
	margin-bottom: -100px;
	position: relative;
	height: 50px;
	width: 1000px;
	border-top: 1px solid #bababa;
	color: #888888;
}

.clearfooter 
{
	height: 100px;
	clear: both;
}
